<div class="off-canvas__container off-canvas__content">
    <div class="container-fluid max-widthfull-height my-scroll-area" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="header-button-wrapper">
                        <div class="toggle-player-button square" ng-click="main.toggle()">
                            <i class="fa fa-2x fa-bars"></i>
                        </div>
                    </div>

                    <a class="navbar-brand " href="# ">Pavel Zajíc</a>

                </div>
            </div>
        </nav>

        <div ng-repeat="piece in main.pieces " class="gridelem " ng-click="main.addToPlaylist(piece) ">
            {{piece.text}}
            <div class="number ">{{piece.number}}</div>
        </div>
    </div>
</div>
