@import 'vars.scss';
@import 'offCanvas.scss';
.off-canvas__container {
    position: relative;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.off-canvas__nav {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: $off-canvas-size;
    height: 100%;
    -webkit-user-drag: none;
    .navbar-default {
        background-color: black;
        border: none;
    }
    .fa {
        font-size: 12vh;
        color: white;
    }
}
.header-button-wrapper {
    display: inline-block;
    float: left;
    margin-top: 11px;
    margin-right: 40px;
    height: 100%;
}
.max-width {
    margin: 0 auto !important;
}
.square {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
navbar-brand {
    position: relative;
    float: left;
    display: inline-block;
}
.toggle-player-button {
    display: block;
    float: left;
    background: black;
    color: white;
}
.gridelem {
    display: block;
    position: relative;
    width: 23vw;
    height: 23vw;
    color: black;
    background-color: white;
    float: left;
    line-height: 23.5vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0.2vw;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(15, 15, 15, 0.27);
    box-shadow: 1px 1px 1px 0 rgba(15, 15, 15, 0.27);
    cursor: pointer;
    &:hover {
        background-color: beige;
    }
    .number {
        position: absolute;
        top: 0;
        right: 0;
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
        font-size: 2vw;
        color: white;
        background-color: black;
    }
}
p.poem {
    width: 80%;
    margin: 50px auto 0 auto;
    color: white;
    font-size: 12vw;
    font-weight: bold;
}
.full-height {
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}
