@import 'vars.scss';
@import 'offCanvas.scss';
html,
body {
    font-family: 'Monda', sans-serif !important;
    height: 100vh;
}
.off-canvas__container {
    position: relative;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    font-size: $nav-font-size;
    line-height: $nav-icons-line-height;
    margin: 7.5px -0px;
    li {
        float: none;
        display: inline-block;
        &.pull-left,
        &.pull-right {
            min-width: 5.5vh;
            min-height: 5.5vh;
            text-align: center;
        }
        a {
            font-weight: bold;
            color: #6c6c6c;
            &:hover {
                color: black;
                background-color: rgba(255, 255, 255, 0.13);
                border-color: black;
            }
            &:focus {
                background-color: transparent;
            }
            i {
                font-size: $nav-font-size;
            }
        }
    }
}
.off-canvas__content {
    .navbar-default {
        background-color: white;
        border: none;
    }
}
.off-canvas__nav {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: $off-canvas-size;
    height: 100%;
    -webkit-user-drag: none;
    nav.navbar.navbar-default {
        background-color: black !important;
        border: none !important;
    }
    .fa {
        font-size: $nav-icons-size;
        color: white;
        cursor: pointer;
        transition: all linear 0.3s;
    }
}
.center {
    margin: 0 auto;
}
.gridelem {
    display: block;
    position: relative;
    color: black;
    width: 24%;
    overflow: hidden;
    background-color: white;
    float: left;
    line-height: 23.5vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0.2vw;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(15, 15, 15, 0.27);
    box-shadow: 1px 1px 1px 0 rgba(15, 15, 15, 0.27);
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    &:hover {
        background-color: beige;
    }
    .number {
        position: absolute;
        top: 0;
        right: 0;
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
        font-size: 2vw;
        color: white;
        background-color: black;
    }
    .square-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
    }
    .square-content div {
        display: table;
        width: 100%;
        height: 100%;
    }
    .square-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: black
    }
}
p.poem {
    width: 80%;
    margin: 50px auto 0 auto;
    color: white;
    font-size: 12vw;
    font-weight: bold;
}
.full-height {
    height: 100vh;
    max-height: 100vh;
    min-height: auto;
    position: relative;
    overflow: hidden;
}
