@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $class==ret {
        @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg, ret";
    }
}
@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}
