// Variables
// ----------
$off-canvas-transition: all 0.5s cubic-bezier(0.16, 0.63, 0.45, 0.98) !default;
$off-canvas-size: 100vw !default;
$nav-font-size: 4vh;
$nav-icons-size: 6vh;
$nav-icons-line-height: 8.5vh;
