// Variables
// ----------
$off-canvas-transition: all 0.5s cubic-bezier(0.16, 0.63, 0.45, 0.98) !default;
$off-canvas-size: 100vw !default;
$nav-font-size: 1.3em;
$nav-icons-size: 1.3em;
$nav-icons-line-height: 2em;
$nav-font-size-sm: 1.1em;
$nav-icons-size-sm: 1.2em;
$nav-icons-line-height-sm: 1.5em;
$nav-font-size-xs: 1.3em;
$nav-icons-size-xs: 1.3em;
$nav-icons-line-height-xs: 1em;
